
/* about_styles.css */
/* Author: Kuang Jiang */
/* Description: This file contains the styles for the about page. */

.experience-container {
    padding: 20px;
    width: 95%;
    margin: 20px;
    pointer-events: none;
}

.row {
    display: flex;
    width: inherit;
    margin-bottom: 0;
}

.year, .experience {
    width: 95%;
    position: relative;
    padding: 15px 10px;
    box-sizing: border-box;
}

.experience {
    flex: 4;
}

.year {
    flex: 1;
    border-right: 3px solid #4169E1;
}

.year-content, .experience-content {
    padding: 10px 2px;
    box-sizing: border-box;
    margin: 0px 3px;
}

.year-content {
    width: inherit;
    text-align: right;
    font-family: 'Papyrus', fantasy;
    line-height: 1.5;
    padding-top: 13px;
}

.experience-content {
    width: inherit;
    margin-left: 10px;

    &::after {
        flex: 1;
        content: '';
        position: absolute;
        top: 37px;
        left: -9px;
        transform: translateY(-50%);
        width: 15px;
        height: 15px;
        background-color: #4B61D1;
        border: transparent;
        border-radius: 50%;
    }
}

.experience-content h1 {
    margin: 0;
    padding: 0;
    font-size: 20px;
    font-weight: bold;
    font-family: "Courier New", monospace;
    line-height: 1.5;
    color: #dddddd;
}

.experience-content h2 {
    margin: 0;
    padding: 0;
    font-size: 16px;
    font-weight: bold;
    font-family: "Copperplate", fantasy;
    font-style: italic;
    line-height: 1;
    color: #bbbbbb;
}

.experience-content h3 {
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-weight: auto;
    font-family: "Copperplate", fantasy;
    font-style: italic;
    line-height: 1;
    color: #aaaaaa;
    padding-left: 20px;
}

.experience-content p {
    margin: 1px;
    padding-top: 8px;
    width: inherit;
    font-family: "Lucida Sans Typewriter", monospace;
    line-height: 1.2;
    font-size: 14px;
    color: #bbbbbb;
}

.experience-content hl {
    font-family: inherit;
    font-size: inherit;
    line-height: inherit;
    color: #dddddd;
    font-weight: bold;
}

.experience-content p2{
    margin: 1px;
    padding-top: 2px;
    width: inherit;
    font-family: "Lucida Sans Typewriter", monospace;
    line-height: 1.2;
    font-size: 14px;
    color: #bbbbbb;
}

/* Contact Section */

.contact-container {
    display: flex;
    width: 95%;
    margin: 20px;
    padding-bottom: 20px;
}

.image-section {
    flex: 2;
    padding: 10px;
}

.image-section img {
    max-width: 250px;
    min-width: 50px;
    height: auto;
    display: block;
    float: right;
}

.content-section {
    flex: 3;
    padding: 10px;
    box-sizing: border-box;
}

.content-section p {
    margin: 0;
}

/* aligning content */

.aligned-content {
    display: flex;
    align-items: center;
    font-size: 16px;
    padding: 10px;
    text-decoration: none;
    margin: 5px 2px;
    transition: border 0.3s ease-in-out;

    &:hover {
        border: 1px solid #4B61D1;
    }
}

.aligned-content p {
    color:#cccccc
}

.aligned-content img {
    margin-right: 10px;
}

/* Tag Conatiner */
.tag-container {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    margin: 10px 0px;
}