
/* button.css */
/* Author:  Kuang Jiang */
/* Description: This file contains the styles for buttons. */

/* Button */

.pill-button {
    display: inline-block;
    padding: 5px 15px;
    background-color: #002244;
    color: #eeeeee;
    border-radius: 20px;
    font-size: 16px;
    transition: background-color 0.3s;
    text-decoration: none;
    pointer-events: all;

    &:hover {
        background-color: #004687;
        color: #ffffff
    }
}

.pill-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}

/* More Detail Button */

.more_detail-container {
    position: relative;
    padding: 5px;
    pointer-events: all;
}

.more_detail-item-container {
    position: relative;
    display: inline-block;
    background-color: #0076CE;
    border-radius: 20px;
    padding-left: 3px;
    padding-right: 3px;
    padding-top: 0px;
    padding-bottom: 1px;
    transition: color 0.3s;
    text-decoration: none;
}

.more_detail-item-container:hover {
    background-color: #318CE7;
}

.more_detail {
    text-decoration: underline;
    color: inherit;
    border: 1px solid transparent; /* Initially, transparent border */
    border-radius: 20px;
    transition: border 0.3s;
    padding-left: 30px; /* Adjust padding to accommodate the image */
    padding-right: 8px;
    padding-top: 3px;
    padding-bottom: 3px;
    position: relative; /* Adjust positioning of the text */
    z-index: 1; /* Ensure the text is above the image */
    font-size: 16px;
    color: #eeeeee;
    text-decoration: none;
}

.more_detail-image {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: auto;
    padding-left: 10px;
    z-index: 0; /* Ensure the image is behind the text */
}

/* Download Button */

.download-container {
    position: relative;
    display: inline-block;
    padding: 5px;
    pointer-events: all;
}

.download-item-container {
    position: relative;
    display: inline-block;
    background-color: rgb(65, 105, 225, 0.8);
    border-radius: 20px;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 5px;
    padding-bottom: 5px;
    transition: color 0.3s;
}

.download-item-container:hover {
    background-color: #324AB2;
}

.download {
    text-decoration: underline;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: border 0.3s;
    padding-left: 23px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    z-index: 1;
    font-size: 13px;
    color: #eeeeee;
    text-decoration: none;
}

.download-image {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 15px;
    height: auto;
    padding-left: 10px;
    z-index: 0; /* Ensure the image is behind the text */
}

/* Display Button */
.display-button-container {
    position: relative;
    display: inline-block;
    padding: 5px;
    pointer-events: all;
}

.display-button-item-container {
    position: relative;
    display: inline-block;
    background-color: #141414;
    border-radius: 20px;
    padding: 3px 2px;
    margin-left: 5px;
    transition: color 0.3s;
    border: 1px solid #333333;
    cursor: pointer;

    &:hover {
        border: 1px solid #eeeeee;
    }
}

.display-button-item-container.disabled {
    background-color: #333333;
    pointer-events: none; /* Disable click events when disabled */
}

.display-button {
    text-decoration: underline;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: border 0.3s;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    z-index: 1;
    font-size: 13px;
    color: #eeeeee;
    text-decoration: none;
}

/* Square Button */
.square-button-container {
    position: relative;
    display: inline-block;
    padding: 5px;
    pointer-events: all;
}

.square-button-item-container {
    position: relative;
    display: inline-block;
    background-color: #141414;
    padding: 3px 2px;
    margin-left: 5px;
    transition: color 0.3s;
    border: 1px solid #333333;
    cursor: pointer;
    text-decoration: none;

    &:hover {
        border: 1px solid #eeeeee;
    }
}
.square-button {
    text-decoration: underline;
    color: inherit;
    border: 1px solid transparent;
    border-radius: 20px;
    transition: border 0.3s;
    padding-left: 8px;
    padding-right: 8px;
    padding-top: 2px;
    padding-bottom: 2px;
    position: relative;
    z-index: 1;
    font-size: 13px;
    color: #eeeeee;
    text-decoration: none;
}