/* label.css */
/* Author:  Kuang Jiang*/
/* Description:  This file contains the styles for label. */

/* Label */


.bullet {
    display: inline-block;
    padding: 2px 10px;
    background-color: #303030;
    color: #dddddd;
    border-radius: 0px 15px 15px 0px;
    font-size: 12px;
}

/* Progress */
.square {
    display: inline-block;
    padding: 2px 4px;
    background-color: #303030;
    color: #dddddd;
    border-radius: 2px 2px 2px 2px;
    font-size: 12px;
}

/* Programming Language */
.pill {
    display: inline-block;
    padding: 2px 10px;
    background-color: #303030;
    color: #dddddd;
    border-radius: 20px;
    font-size: 12px;
}

/* Skills */
.leaf {
    display: inline-block;
    padding: 2px 10px;
    background-color: #303030;
    color: #dddddd;
    border-radius: 15px 0px 15px 0px;
    font-size: 12px;
}

/* Publicity */
.box {
    display: inline-block;
    padding: 0px 8px;
    background-color: #141414;
    color: #dddddd;
    border: 2px solid #303030;
    border-radius: 10px;
    font-size: 12px;
}

/* Article/Image Category */
.page-tag {
    display: inline-block;
    padding: 1px 8px;
    background-color: #3F00FF;
    color: #dddddd;
    border-radius: 0px 0px 8px 8px;
    font-size: 12px;
    margin-right: 3px;
}

/* Project Category */
.tag {
    display: inline-block;
    padding: 1px 8px;
    background-color: #0E3386;
    color: #dddddd;
    font-size: 12px;
    position: relative;
    border-radius: 5px;
    margin-right: 5px;

    &::after {
        content: '';
        position: absolute;
        top: 50%;
        right: -5px; /* Adjust this value to control the distance between the pill and the triangle */
        border-width: 6px 0 6px 6px;
        border-style: solid;
        border-color: transparent transparent transparent #0E3386;
        transform: translateY(-50%);
    }
}

/* Year */
.arrow-pointer {
    width: 250px;
    height: 50px;
    background: #32557f;
    color: #dddddd;
    position: relative;
    font-size: 12px;
    padding:1px 4px;
    padding-left: 10px;
    border-radius: 15px 0px 0px 15px;
    margin-right: 8px;
  
    &:after {
      content: '';
      position: absolute;
      right: -8px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 8px solid #32557f;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }
}


.dent-arrow-pointer {
    width: 250px;
    height: 50px;
    background: #6050DC;
    color: #dddddd;
    position: relative;
    font-size: 12px;
    padding:1px 8px;
    padding-left: 12px;
    margin-right: 6px;
  
    &:before {
      content: '';
      position: absolute;
      right: -7px;
      bottom: 0;
      width: 0;
      height: 0;
      border-left: 8px solid #6050DC;
      border-top: 8px solid transparent;
      border-bottom: 8px solid transparent;
    }

    &:after {
        content: '';
        position: absolute;
        left: 0; bottom: 0; width: 0; height: 0;
        border-left: 8px solid #141414;
        border-top: 8px solid transparent;
        border-bottom: 8px solid transparent;
    }
}

/* List of Tags */
.starter-tag {
    width: 250px;
    height: 50px;
    color: #dddddd;
    position: relative;
    font-size: 12px;
    padding:3px 5px;
    padding-left: 7px;
    border-radius: 0px;
    margin-right: 8px;
    border-top: 1px solid #bbbbbb;
    border-left: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
  
    &:after {
        content: "";
        position: absolute;
        top: 1.5px;
        right: -8px;
        width: 16px;
        height: 16px;
        border: 1px solid #bbbbbb;
        border-left: none;
        border-bottom: none;
        border-radius: 2.5px 0px 2.5px 2.5px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}

.following-tag {
    width: 250px;
    height: 50px;
    color: #dddddd;
    position: relative;
    font-size: 12px;
    padding:3px 5px;
    padding-left: 16px;
    border-radius: 0px;
    margin-right: 8px;
    border-top: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
  
    &:before,
    &:after {
        content: "";
        position: absolute;
        top: 1.5px;
        width: 16px;
        height: 16px;
        border: 1px solid #bbbbbb;
        border-left: none;
        border-bottom: none;
        border-radius: 2.5px 0px 2.5px 2.5px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }

    &:before {
        left: -7.5px;
    }

    &:after {
        right: -8px;
    }
}

.ending-tag {
    width: 250px;
    height: 50px;
    color: #dddddd;
    position: relative;
    font-size: 12px;
    padding:3px 5px;
    padding-left: 16px;
    border-radius: 1px 0px 0px 1px;
    margin-right: 8px;
    border-top: 1px solid #bbbbbb;
    border-right: 1px solid #bbbbbb;
    border-bottom: 1px solid #bbbbbb;
  
    &:before {
        content: "";
        position: absolute;
        top: 1.5px;
        left: -7.5px;
        width: 16px;
        height: 16px;
        border: 1px solid #bbbbbb;
        border-left: none;
        border-bottom: none;
        border-radius: 2.5px 0px 2.5px 2.5px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        transform: rotate(45deg);
    }
}